* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
    

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    
    border-radius: 30%;
    
    
    
}

#cloud {
    background-color: white;
    border-radius: 30px;
    margin-bottom: 60px;
    box-shadow: 3px 3px 3px;
    width: 90vw;
    position: relative;
    animation: updown 3s infinite;
    
}



h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    
}

h2 {
    text-align: center;
}
h3 {
    text-align: center;
    margin-bottom: 10px;
}
h4{
    text-align: center;
    margin-bottom: 100px;
}
#device {
    width: 80vw;
    height: 90vh;
    background-color: rgb(205, 245, 189);
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    flex-direction: column;
    max-width: 700px;
    min-height: 700px;
    min-width: 600px;
    margin: auto;
    margin-bottom: 100px;
    box-shadow: 10px 10px 80px;
    max-height: 750px
    

}

#name-input {
    height: 30px;
    width: 150px;
    font-size: 30px;
    text-align: center;
    box-shadow: 3px 3px 3px;
    position: relative;
    animation: updown 5s infinite;
    border-radius: 30px;
}

img {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#me{
    position: relative;
    margin-top: 220px;
    left: -470px;
    font-size: 12px;
}

#start {
    background-color: white;
    height: 30px;
    margin-top: 30px;
    position: relative;
    animation: updown 6s infinite;
    border-radius: 30px;
}
#adjust {
    background-color: beige;
    align-items: center;
    position: relative;
    top: 39px;
    border-radius: 6px;
    border: solid 4px black;
    width: 490px;
    left: -4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

#mushroom {
    width: 90px;
    height: 60px;
    position: relative;
    top: 77px;
    left: 67px;
}

.night {
    background-image: url("images/back488x388.png")
}

#screen {
    width: 70%;
    height: 55%;
    background-repeat: no-repeat;
    position: relative;
    top: -20px;
    display: flex;
    flex-direction: column;
    border: solid 4px black;
    background-image: url("images/resizedbackkk.png");
    border-radius: 3%;
    max-height: 378px;
    
    
    
}

body {
    background-image: url('images/aec6eaa71938036b649a16cd9a5c99ae.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    position: relative;
    top: 50px;
    height: 70px;
    background-color: none;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    
}
button {
    border-radius: 30%;
    margin-right: 25px;
    margin-left: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px;
    font-family: 'Courier New', Courier, monospace
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px;
    border: 0px;
    
}

#randomize {
    width: 100px;
}

#sleep {
    position: relative;
    top: 10px;
}

#walk {
    position: relative;
    top: 10px;
}

#play {position: relative;
    top: -20px

}

#feed {
    position: relative;
    top: -20px;
}


progress {
    
    top: 30px;
    display: flex;
    margin-left: 20px;
    height: 20px;
    
    
    
}

#happy-label {
    height: 20px;
    display: flex;
    flex-direction: row;
    left: 40px;
    top: 15px;
}

#hunger-label {
    height: 20px;
    display: flex;
    flex-direction: row;
    left: 130px;
    top: 15px;
}

#energy-label {
    height: 20px;
    display: flex; 
    flex-direction: row;
    left: 220px;
    top: 15px;
}

#hunger {
    margin-left: 40px;
    
}

#tiredness {
    margin-left: 47px;
}
#start-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#start {
    display: flex;
    width: 90px;
    justify-content: center;
    align-items: center;
}

#age {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    
}

#character {
    position: relative;
    height: 220px;
    align-items: center;
    justify-content: center;
    display: flex;
    
    
}


#baby-mario {
    position: absolute;
    height: 120px;
    top: 120px;
    
}

#marioselect:hover{
    cursor: pointer;
    background-color: red;
    animation: none
    
    
}

#luigiselect:hover{
    cursor: pointer;
    background-color: green;
    animation: none
    

}

#bowserselect:hover {
    cursor: pointer;
    background-color: peachpuff;
    animation: none
    
}

#ball {
    animation-delay: 7s;
    position: relative;
    top: 100px;
    right: -75px;
    width: 50px;
    height: 50px;
    
}


#select {
    
    height: 40vw;
    width: 99vw;
    flex-direction: row;
    
    border-radius: 40%
    
}




#selectheading {
background-color: white;
width: 80vw;
margin: 0 auto;
margin-top: 80px;
height: 150px;
border-radius: 30px;
position: relative;
animation: updown 5s infinite;
}

#selectheader {
    padding: 10px;
    margin-bottom: 10px;
}

.Choose {
    height: 120px;
    width: 110px;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    border-radius: 45%;
    position: relative;
    animation: updown 3s infinite;
    
    
    
}
#choices {
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 100vw;
    margin-top: 120px;
    
    
}

#reset {
    position: relative;
    top: -50px;
    width: 70px;
}

#tomb {
    margin: auto;
}

#p {
  width: 180px;
  height: 110px;  
}

#peachselect:hover {
    background-color: pink;
    cursor: pointer;
    animation: none
    
}

#d {
    width: 80px;
    height: 90px;
}

#dkselect:hover {
cursor: pointer;
background-color: brown;
animation: none

}

#peachselect{
    animation: downup 3s infinite
}

#dkselect {
    animation: downup 3s infinite
}
#tomb {
    margin-top: 20px;
}

#randomize {
    position: relative;
    right: 400px;
}

#lose {
    background-color: black;
    color: white;
    height: 370px;
    border-radius: 3px;
    padding-top: 60px;
    position: absolute;
    overflow: visible;
    
}


@keyframes move {
    0% {
        transform: rotateY(0deg);
        left: 190px;
    }
    50% {
        transform: rotateY(0deg);
        left: 0px;
    }
    
    51% {
        left: 2px;
        transform: rotateY(180deg)
        
    }
90% {
    left: 190px;
    transform: rotateY(180deg)
}
    
    
    100% {
        left: 190px;
        transform: rotateY(0deg)
        
        
    }
}




@keyframes lay {
    0% {
        left: 190px
    }
    10% {
        left: 335px;
        top: 50px;
    }

    31%{transform: rotate(70deg);
        left: 350px;
        top: 50px;
    }

    60% {transform: rotate(70deg);
        left: 350px;
        top: 50px
    }
    100% {
        left: 190px
    }
}

@keyframes playball {
    0% {
        transform: rotateY(180deg);
        left: 190px;
    }

    30% {
        transform: rotateY(180deg);
        left: 220px;
        top: 123px;
    }

    85% {
        transform: rotateY(180deg);
        left: 220px;
        top: 123px;
    }
    87% {
        transform: rotateY(0deg);
    }

    100% {
        left: 190px;
    }
}

@keyframes bounce {
    0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateY(-30px);} 
    
 } 

 @keyframes eat {
     0% {
         
        left: 190px;
    }
    50% {
        top: 10px;
    left: 97px;
}

    51% {
        top: 10px;
    left: 97px;
}

    100% { 
        left: 190px;
    }
 }

 @keyframes updown {
     0% {top: 0px}
     50% {top: 20px}
     100% {top: 0px}
 }

 @keyframes downup {
     0% {top: 20px}
     50% {top: 0px}
     100%{top: 20px}
 }

 @keyframes mush {
     0% {transform: rotate(30deg);
    }

     20% {transform: rotate(-30deg)}

     40% {transform: rotate(20deg)}

     60% {transform: rotate(-20deg)}

     80% {transform: rotate(10deg)}

     100${transform: rotate(-10deg)}
 }