* {
    box-sizing: border-box;
    

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    border-radius: 30%;
    
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: 
    
}

h2 {
    text-align: center;
}
h3 {
    text-align: center;
    margin-bottom: 10px;
}
h4{
    text-align: center;
    margin-bottom: 100px;
}
#device {
    width: 80vw;
    height: 90vh;
    background-color: rgb(59, 58, 58);
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    flex-direction: column;
    max-width: 700px;
    min-height: 700px;
    min-width: 600px;
    margin: auto;
    margin-bottom: 100px;
    

}

img {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen {
    width: 60%;
    height: 50%;
    background-image: url('/images/emptyroom_450x350.png');
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    
    
}

body {
    background-image: url('/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    position: relative;
    top: 50px;
    height: 80px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}
button {
    border-radius: 30%;
    margin-right: 35px;
    margin-left: 35px;
    height: 30px
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border: solid 1px black
}

#sleep {
    position: relative;
    
}

#walk {
    position: relative;
    
}


progress {
    
    top: 30px;
    display: flex;
    margin-left: 20px;
    height: 20px;
    
    
    
}

#happy-label {
    height: 20px;
    display: flex;
    flex-direction: row;
    left: 40px;
    top: 15px;
}

#hunger-label {
    height: 20px;
    display: flex;
    flex-direction: row;
    left: 130px;
    top: 15px;
}

#energy-label {
    height: 20px;
    display: flex; 
    flex-direction: row;
    left: 220px;
    top: 15px;
}

#hunger {
    margin-left: 42px;
    
}

#tiredness {
    margin-left: 41px;
}
#start-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#start {
    display: flex;
    width: 90px;
    justify-content: center;
    align-items: center;
}

#age {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    
}

#character {
    position: relative;
    height: 220px;
    
    align-items: center;
    justify-content: center;
    display: flex;
    
    
}

#bed {
    display: flex;
    position: relative;
    left: -30px;
    top: -30px;
}
#baby-mario {
    position: absolute;
    height: 120px;
    top: 120px;
    
    
}

#marioselect:hover{
    cursor: pointer;
    background-color: red;
    
}

#luigiselect:hover{
    cursor: pointer;
    background-color: green;
    

}

#bowserselect:hover {
    cursor: pointer;
    background-color: peachpuff;
    
}

#ball {
    animation-delay: 7s;
    position: relative;
    right: -75px;
    width: 50px;
    height: 50px;
    
}
#fridge {
    position: relative;
    top: 80px;
    right: -80px;
    width: 140px;
    height: 140px;
}

#select {
    
    height: 40vw;
    width: 99vw;
    flex-direction: row;
    
    border-radius: 40%
    
}

.Choose {
    height: 120px;
    width: 110px;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    border-radius: 45%;
    
    
}
#choices {
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 100vw;
    margin-top: 120px;
    
    
}

#reset {
    position: relative;
    top: -50px;
    width: 70px;
}


@keyframes move {
    0% {
        transform: rotateY(0deg);
        left: 157px;
    }
    50% {
        transform: rotateY(0deg);
        left: 0px;
    }
    
    51% {
        left: 2px;
        transform: rotateY(180deg)
        
    }
90% {
    left: 157px;
    transform: rotateY(180deg)
}
    
    
    100% {
        left: 157px;
        transform: rotateY(0deg)
        
        
    }
}


@keyframes lay {
    0% {
        left: 157px
    }
    10% {
        left: 40px;
        top: 0px;
    }

    31%{transform: rotate(70deg);
        left: 40px;
        top: 0px;
    }

    60% {transform: rotate(70deg);
        left: 40px;
        top: 0px
    }
    100% {
        left: 157px
    }
}

@keyframes playball {
    0% {
        left: 157px;
    }

    30% {
        left: 260px;
        top: 30px;
    }

    85% {
        left: 260px;
        top: 30px;
    }

    100% {
        left: 157px;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    30%, 60%, 90% {transform: translateY(-30px);} 
    
 } 

 @keyframes eat {
     0% {transform: rotateY(180deg);
        left: 157px;
    }
    50% {transform: rotateY(180deg);
    left: 260px;}

    51% {transform: rotateY(0deg);
    left: 258px;}

    100% { transform: translateY(0deg);
        left: 157px;
    }
 }